Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-connectionmanager
adafruit-circuitpython-mcp230xx
adafruit-circuitpython-requests
adafruit-circuitpython-typing
Adafruit-PlatformDetect
Adafruit-PureIO
binho-host-adapter
mysqlclient
numpy
pip
pyftdi
pyserial
python-dotenv
pyusb
RPi.GPIO
sysv_ipc
typing_extensions